@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}

section{
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .container{
  margin: 10px;
}
section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
}
.text-box{
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}
.text-box2{
  margin: 20px;
  padding: 20px;
  background: #a0d6d9;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/* reveal_vincent est plus lent à s'afficher */

.reveal_vincent{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal_vincent.active{
  transform: translateY(0);
  opacity: 1;
}